/* Footer */
footer {
    background-color: #277933;
    left: 0;
    color: white;
    position: fixed;
    width: 100%;
    height: 300px;
    bottom: 0;
}
.indiaflag {
    width: 100px;
    height: auto;
    display: block;
    margin: 20px auto 0 auto;
}