/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #277933;
    left: 0;
    color: white;
    position: fixed;
    width: 100%;
    height: 150px;
    bottom: 0;
}
.indiaflag {
    width: 200px;
    height: auto;
    display: block;
    margin: 20px auto 0 auto;
}