/* Doelstelling */
.dobody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
     background-image: url('/Images/Globe.png');
 }

.docontainer {
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: #1a73e8 2px solid;
 }

 .doh1 {
    text-align: center;
    color: #1a73e8;
    margin-bottom: 20px;
 }

.doh2 {
    color: #333;
    margin-top: 40px;
    color: #1a73e8;
 }

 .dop {
     margin-bottom: 16px;
     font-size: 16px;
}



        


/* Religies */
.rebody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-image: url('/Images/Globe.png');
 }

.recontainer {
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: #1a73e8 2px solid;
    
 }

 .reh1 {
    text-align: center;
    color: #1a73e8;
    margin-bottom: 20px;
    
 }

 .reh2 {
    color: #333;
    margin-top: 40px;
    color: #1a73e8;
 }

 .rep {
     margin-bottom: 16px;
     font-size: 16px;
}



/* Overzicht */
 .ovbody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
   background-image: url('/Images/Globe.png');

 }

.ovcontainer {
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: #1a73e8 2px solid;
 }

.ovh1 {
    text-align: center;
    color: #1a73e8;
    margin-bottom: 20px;
 }

.ovh2 {
    margin-top: 40px;
    color: #1a73e8;  
 }

.ovp {
    margin-bottom: 16px;
    font-size: 16px;
 }



 /* Tabel bevolking */
 .tabody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0;
    line-height: 1.3;
    color: #333;
    
    
 }

.tacontainer {
    max-width: 900px;
    height: 1000px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: #1a73e8 2px solid;

 }

 .tatable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
    
    
    
}
 

.tahead {
    background-color: #1a73e8;
}

.tath {
    padding: 12px;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #1a73e8;
}


.tadata {
    background-color: #ffffff;
}



.tatd {
    padding: 12px;
    border: 1px solid #ddd;
}


.tatotal {
    background-color: #e8f0fe;
    font-weight: bold;
}

.tatotal .tatd {
    border-top: 2px solid #1a73e8;
}





 








/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #277933;
    left: 0;
    color: white;
    width: 100%;
    height: 150px;
    bottom: 0;
}
.indiaflag {
    width: 200px;
    height: auto;
    display: block;
    margin: 20px auto 0 auto;
}